{% extends 'layout.twig' %}

{% block deferScripts %}
<script defer src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script defer src="/javascripts/index.js"></script>
{% endblock deferScripts %}

{% block body %}
<div class="container">
    <h1>Welcome!</h1>
    <p>This project was built in 6 days during the Multidisciplinary Project 2 unit, at HELHa Charleroi.</p>
</div>
{% endblock %}