{% extends 'layout.twig' %}

{% block deferScripts %}
<script defer src="/javascripts/index.js"></script>
{% endblock deferScripts %}

{% block body %}
  <h1>Mockup site</h1>
  <p>Click on the button</p>
  <button id="insert">Insert</button>
  <button id="show">Show</button>

{% endblock %}
