{% extends 'layout.twig' %}

{% block deferScripts %}
<script defer src="/javascripts/index.js"></script>
{% endblock deferScripts %}

{% block body %}
  <h1>Mockup site</h1>
  <p>Click on the button</p>
  <button class="btn btn-success" id="insert">Start</button>
  <button class="btn btn-warning" id="end">End</button>

{% endblock %}
